@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*, *::before, *::after {
   box-sizing: border-box;
}

:root {
   --clr-main: rgb(23, 156, 23);
   --clr-secondary: rgb(68, 219, 68);
   --clr-bg-dark: #242424;
   --clr-bg-light: #3b3b3b;
   --clr-font: white;

   --font-primary: 'Poppins', sans-serif;
   --font-quote: 'Lobster', cursive;
}

html {
   scroll-behavior: smooth;
 }

body {
   margin: 0;
   font-family: var(--font-primary);
   background: var(--clr-bg-dark);
   color: var(--clr-font);
 }

header {
   position: relative;
}

.hero-img {
   background: linear-gradient(rgba(0, 0, 0, .5), var(--clr-main)), url('../images/bg.jpg');
   background-size: cover;
   background-position: center;
   height: 100vh;
   z-index: -1;
}

.nav {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}

.logo {
   text-decoration: none;
   font-size: 2.6rem;
   position: absolute;
   top: 0;
   left: 0;
   color: var(--clr-font);
   margin: .65em;
}

.logo p {
   margin: 0;
}

.logo p span {
   color: var(--clr-secondary);
   margin: 0;
}

.mobile-menu {
   width: 40px;
   height: 40px;
   position: absolute;
   top: 0;
   right: 0;
   margin: 2em;
   cursor: pointer;
}

.hero-text h1
{
   display: none;
}

.hero-text .btns {
   display: flex;
   justify-content: center;
}

.hero-text {
   position: absolute;
   top: 90%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: var(--clr-font);
   text-align: center;
}

.hero-text h1 {
   font-style: italic;
   font-weight: 500;
   font-size: 5rem;
}

.hero-text p {
   font-family: var(--font-quote);
   font-size: 1.4rem;
   margin-top: -1em;
}

.btns {
   display: inline-block;
   margin-top: 1em;
}

.btn {
   margin: .5em;
   font-family: var(--font-primary);
   font-size: 1.2rem;
   padding: .5em;
   background: var(--clr-secondary);
   outline: none;
   border: none;
   border-radius: 12px;
   cursor: pointer;
}

.btn:hover, .btn:focus {
   transform: scale(1.1);
}

nav {
   display: none;
   width: 50%;
   background: var(--clr-main);
   height: 100vh;
   z-index: 999;
   position: absolute;
   top: 0;
   right: 0;
   animation: menuLoad 250ms ease-in;
}

nav ul {
   list-style: none;
   text-align: right;
   margin: 3em;
   font-size: 1.7rem;
}

nav ul li {
   padding: .5em;
}

nav ul li a {
   text-decoration: none;
   color: var(--clr-font);
}

nav ul li a:hover,
nav ul li a:focus {
   font-weight: bold;
}

.active {
   display: block;
}

.mobile-menu-exit {
   float: right;
   margin: 2em;
   height: 30px;
   cursor: pointer;
}

.logo-section {
   position: unset;
}

.container {
   text-align: justify;
   margin: 2em;
}

.section-img {
   display: none;
}

.text-box-header img {
   width: 35px;
   height: 35px;
   margin-right: 1em;
}

.flex {
   display: flex;
   align-items: center;
}

.clr-secondary {
   color: var(--clr-secondary);
}

.clr-section {
   font-weight: bold;
}

.text-box-description {
   margin-top: 2em;
}

section.contact {
   background: var(--clr-bg-light);
   width: 100%;
   padding-bottom: 2em;
}

.container-block {
   display: grid;
   text-align: center;
   font-size: 1.5rem;
}

.contacts {
   margin: 2em 0;
   display: grid;
   place-items: center;
}

.contacts input[type="text"] {
   width: 70%;
   border: none;
   font-family: var(--font-primary);
   font-size: 1.1rem;
   padding: 1em 1.5em;
   margin: 2em 0;
   border-radius: 5em;
}

.contacts input[type="submit"] {
   width: 40%;
   padding: .7em;
   font-size: 1.1rem;
   font-family: var(--font-primary);
   border-radius: 5em;
   border: none;
   background: var(--clr-bg-dark);
   color: var(--clr-font);
   cursor: pointer;
}

.contacts input[type="submit"]:hover,
.contacts input[type="submit"]:focus {
   background: var(--clr-secondary);
   color: var(--clr-bg-dark);
}

.contact hr {
   width: 50%;
   margin-top: 2.5em;
}

.contacts h1 {
   font-weight: lighter;
   margin: 0 4em;
}

.map h1 {
   font-weight: lighter;
   margin: 2em 0 1.5em 0;
}

footer {
   background: var(--clr-main);
   font-size: 1rem;
   padding: 1em;
   text-transform: uppercase;
}

.footer-text {
   margin-left: 1em;
   margin-top: 2em;
   padding: .2em;
}

footer ul {
   list-style: none;
   padding: 0;
   margin-left: .5em;
}

footer ul li {
   padding: .5em;
}

footer ul li a{
   text-decoration: none;
   color: var(--clr-font);
   padding: .2em;
   position: relative;
}

footer ul li a:hover,
footer ul li a:focus {
   background: var(--clr-secondary);
   /* animation: hover 250ms ease-in; */
}

.icons img:hover {
   transform: scale(1.2);
   background: var(--clr-secondary);
}


@media (min-width: 768px) {

   .hero-text h1 {
      display: block;
   }

   .hero-text {
      top: 50%;
   }

   .container {
      margin: 2em 4em;
   }

   .contacts input[type="submit"] {
      width: 20%;
   }
   
   .contacts input[type="text"] {
      width: 50%;
   }

}


@media (min-width: 1200px) {

   nav {
      width: 27%;
   }

   .container {
      display: flex;
      align-items: center;
      margin: 4em 5em;
   }

   .text-box {
      width: 70%;
      margin-right: 4em;
      font-size: 1.2rem;
      text-align: left;
   }

   .container-block {
      margin: 0;
   }

   footer {
      display: flex;
      justify-content: space-around;
   }

   .footer-text {
      margin: 0;
   }

   .contacts input[type="text"] {
      width: 40%;
   }

   .contacts input[type="submit"] {
      width: 15%;
   }

}


@media (min-width: 1400px) {

   .container {
      display: flex;
      align-items: center;
      margin: 6em 20%;
   }

   .section-img {
      display: flex;
      box-shadow: 1px 0 .6em black;
      max-width: 500px;
      height: auto;
   }

   .text-box {
      width: 50%;
   }

}


@keyframes hover {

   from {
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
   }

   to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }
}

@keyframes menuLoad {

   from {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
   }

   to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }
}